<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    
<section class="home-content">
  
  <div class="home-text">
    <h1>Hi, I’m Zandi</h1>
    <p class="tagline">About Me</p>
    <p class="intro">
      Welcome to my portfolio! My name is Zandi Galpin and 
      I am currently working as a Grocery Assistant at New World
      while studying a Bachelor of Information Technology at NMIT Nelson. In 
      this portfolio you will see my previous work along with a 
      summary of my skills, along with a contact form and my contact information
      in case you want to reach out. I hope you enjoy!
    </p>
  </div>

  <div class="home-image">
    <img src="../../assets/images/profile.png" alt="Portrait of Zandi">
  </div>
</section>


    

</body>
</html>